<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<html>

    {% include header.html %}

    <body>

    <div class="container">

        {% if page.url == '/index.html' %}
            <div class="jumbotron">
                <h1>
                    {{ site.title }}
                </h1>
                <p>{{ site.description }}</p>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default" id="headings">
                    <!-- <div class="panel-heading">Blog</div> -->
                    <div class="panel-body">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" id="headings">
                    <!-- <div class="panel-heading">Contact Card</div> -->
                    <div class="panel-body">
                        <img src="/assets/img/gravatar.jpg" class="img-responsive" style="width: 100%; height: 100%">
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="text-muted">Name:</span><br/>
                            Kurt Wolf
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Location:</span><br/>
                            Dublin, OH
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Email:</span><br/>
                            itguy614@gmail.com
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Phone:</span><br/>
                            614.216.3513
                        </li>
                        <li class="list-group-item">
                            <span class="label label-success">Active Directory</span>
                            <span class="label label-info">Bash</span>
                            <span class="label label-danger">Budgeting</span>
                            <span class="label label-info">C#</span>
                            <span class="label label-info">C/C++</span>
                            <span class="label label-warning">Centos</span>
                            <span class="label label-info">CSS</span>
                            <span class="label label-success">DHCP</span>
                            <span class="label label-success">DNS</span>
                            <span class="label label-success">Exchange</span>
                            <span class="label label-success">Git</span>
                            <span class="label label-info">HTML</span>
                            <span class="label label-warning">IoT</span>
                            <span class="label label-danger">ITIL</span>
                            <span class="label label-info">JavaScript</span>
                            <span class="label label-info">Laravel</span>
                            <span class="label label-warning">MacOS</span>
                            <span class="label label-danger">Management</span>
                            <span class="label label-danger">Mentoring</span>
                            <span class="label lavel-warning">Office 365</span>
                            <span class="label label-info">PHP</span>
                            <span class="label label-danger">Project Management</span>
                            <span class="label label-success">Prophet 21</span>
                            <span class="label label-success">Skype for Business</span>
                            <span class="label label-success">SQL Server</span>
                            <span class="label label-info">SQL</span>
                            <span class="label label-warning">Ubuntu</span>
                            <span class="label label-info">VB.net</span>
                            <span class="label label-warning">Virtualization</span>
                            <span class="label label-warning">Windows Server</span>
                            <span class="label label-warning">Windows</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    </body>

</html>
